<div class="progress">
  <div class="indeterminate"></div>
</div>
<main>
  <div class="videoContainer">
    <video id="webcamfeed" autoplay></video>
    <canvas id="photo-source"></canvas>
  </div>
</main>
<form class="range-form" action="#">
  <p class="range-field">
    <input type="range"  />
  </p>
</form>
