<main>
  <div class="videoContainer">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
    <video id="webcamfeed" autoplay></video>
    <canvas id="photo-source"></canvas>
  </div>
</main>
<form class="range-form" action="#">
  <p class="range-field">
    <input type="range"  />
  </p>
</form>
