<div class="videoContainer">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <video id="webcamfeed" autoplay></video>
  <canvas id="photo-source"></canvas>
</div>

<p class="center takephoto">
  <a id="takePhoto" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">photo_camera</i></a>
</p>
