<main>
  <div class="videoContainer">
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
    <video id="webcamfeed" autoplay></video>
    <canvas id="photo-source"></canvas>
  </div>
</main>
<form action="#">
  <p class="range-field">
    <label for="zoom_control"></label>
    <input id="zoom_control" type="range"  />
  </p>
</form>
