<footer class="page-footer red darken-2">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <form action="#">
          <p class="range-field">
            <input type="range" />
          </p>
        </form>
      </div>
    </div>
  </div>
</footer>
