<nav class="red wine">
    <div class="nav-wrapper">
      <ul class="left">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>

      <a href="#" class="brand-logo">
        <img src="images/logo/yummyfind-logo-hor.png" alt="YummyFind - Logo">
      </a>

      <ul id="navbarScore_container" class="right">

      </ul>
    </div>
</nav>
