<ul id="slide-out" class="sidenav">
  <li>
    <div id="sidenavScore_container" class="user-view center">

    </div>
  </li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
</ul>
