<ul id="slide-out" class="sidenav">
  <li>
    <div id="sidenavScore_container" class="user-view center">

    </div>
  </li>
  <li><a class="modal-trigger sidenav-close" href="#favorite"><i class="material-icons">favorite</i>Recetas favoritas</a></li>
  <li><a class="sidenav-trigger sidenav-close" data-target="about" href="#"><i class="material-icons">info</i>Sobre YummyFind</a></li>
</ul>

<ul id="about" class="sidenav about">
  <img src="images/logo/yummyfind-logo-hor.png" alt="YummyFind - Logo">
  <p class="center-align">(v0.0.1)</p>
  <h5>¿Qué es YummyFind?</h5>
  <p class="flow-text">
    YummyFind es una app de recetas de cocina con la que puedes reconocer más de 2000 ingredientes y encontrar más de 700,000 recetas de cocina en español.
  </p><br>
  <p class="flow-text">
    La misión de YummyFind es ser la herramienta perfecta para cocineros aficionados y experimentados en nuestro idioma.
  </p>
</ul>
