<ul id="slide-out" class="sidenav">
  <li>
    <div id="sidenavScore_container" class="user-view center">

    </div>
  </li>
  <li><a class="modal-trigger" href="#favorite"><i class="material-icons">favorite</i>Recetas favoritas</a></li>
</ul>
