<main>
  <!-- Modal Structure -->
  <div id="modal-offline" class="modal">
    <div class="modal-content">
      <h4>Sin Conexión</h4>
      <p>YummyFind require conexión a internet para utilizar los servicios de busqueda</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>
  
</main>
