<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#791c23">
  <title><%= title %></title>
  <meta name="description" content="Reconocimiento de alimentos y buscador de recetas de cocina">
  <link rel="manifest" href="/manifest/manifest.json">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="client/materialize-css/dist/css/materialize.min.css" media="screen,projection">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include("partials/offline/navbar") -%>
  <%- include("partials/offline/main") -%>

  <script src="client/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="client/materialize-css/dist/js/materialize.min.js" charset="utf-8"></script>
  <script src="/javascripts/init-offline.js" charset="utf-8"></script>
</body>
</html>
