* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  overflow-y: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

main {
  flex: 1 0 auto;
}

.navbar {
  z-index: 9999;
}

nav .nav-wrapper .brand-logo img {
  height: 54px;
}

.videoContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.videoContainer #webcamfeed {
  min-width: 100%;
  min-height: 100%;
}

.takephoto {
  text-align: center;
}

.takephoto .btn-floating {
  border: 3px solid rgba(0, 0, 0, 0.7);
}

.takephoto .btn-floating i {
  color: #8E151E;
  padding-right: 5px;
}

.progress {
  margin: 0px;
  display: none;
}

.grey.darken-4-custom {
  background-color: rgba(33, 33, 33, 0.65) !important;
}

.red.wine {
  background-color: #8E151E !important;
}

.tabs {
  background: rgba(255, 255, 255, 0);
  height: 30px;
}

.tabs .tab {
  line-height: 25px;
}

.tabs .tab a {
  font-size: 12px;
}

.tabs .tab a, .tabs .tab a:focus, .tabs .tab a:focus.active, .tabs .tab a.active {
  color: #ffffff;
}

.tabs .indicator {
  background-color: #8E151E;
}

#cameraoption, #searchoption {
  margin-top: 20px;
}

.sidenav .user-view .background img {
  filter: brightness(50%);
}

.sidenav .user-view .circle {
  width: 130px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
}

/*modal content */

.modal.bottom-sheet {
  max-height: 85%;
}
